{% extends 'base.html' %} {% block content %}

<!-- Purpose of this template is to display a list of posts.  Each comprising of an image fetched from cloudinary. Title, author, excerpt, number of like and number of comments.  Where an image isn't available, a default image is used.
Images are requested from cloudinary in webp format to help load times but will display jpg when webp isn't available.

unauthenticated users can read posts number of likes and comments.  Authenticated users can like and comment. -->

<!-- Section for listing all the posts -->
<hr />
<main class="container-fluid text-center">
	<!-- Display the content as a grid format -->
	<section class="row justify-content-center">
		<div class="col-12 mt-3">
			<section class="row">
				<!-- Iterates through posts in the post list -->
				{% for post in post_list %}
				<article class="col-md-4 mb-4">
					<div class="card mb-4">
						<div class="card-body">
							<!-- Image and the author info for the post. -->
							<figure class="image-container">
								<!-- Conditional logic for rendering the placeholder or the actual image -->
								{% if "placeholder" in post.featured_image.url %}
								<!-- Requesting webp if available. -->
								<img
									src="https://res.cloudinary.com/cheymd/image/upload/v1693482045/default_image_rlpqek.jpg?format=webp"
									width="100%"
									alt="default image"
								/>
								{% else %}
								<img
									src="{{ post.featured_image.url|add:'?format=webp' }}"
									width="100%"
									alt="{{ post.title }}"
								/>
								{% endif %}
								<!-- Dynamically displays the author's name -->
								<figcaption>Author: {{ post.author }}</figcaption>
							</figure>
							<!-- Post title and excerpt linked to detailed view -->
							<div class="post-title">
								<a href="{% url 'post_detail' post.slug  %}">
									<h2>{{ post.title }}</h2>
								</a>
							</div>
							<!-- Dynamically displayed excerpt -->
							<p>{{ post.excerpt }}</p>
							<!-- Date the post was created -->
							<p class="card-text text-muted h6">
								{{ post.created_on }}
								<i class="far fa-heart"></i> {{ post.number_of_likes }}
							</p>
						</div>
					</div>
				</article>

				<!-- Set to start a new row after every 3rd post -->
				{% if forloop.counter|divisibleby:3 %}
			</section>
			<section class="row">{% endif %} {% endfor %}</section>
		</div>
	</section>

	<!-- navigation for the pagination -->
	{% if is_paginated %}
	<nav aria-label="Page navigation example">
		<ul class="pagination justify-content-center">
			...
		</ul>
	</nav>
	{% endif %}
	<!-- Link for an authenticated users to write a review.
    Only visible to authenticated users -->
	{% if user.is_authenticated %}
	<div class="text-center my-4">
		<a href="{% url 'create_post' %}" class="btn custom-button-color"
			>Write a Review</a
		>
	</div>
	{% endif %}
</main>
{% endblock %}
