<!-- Extends from the base.html template -->
{% extends 'base.html' %}

<!-- Start of the content block -->
{% block content %}

<!-- Horizontal rule for visual separation of page layout -->
<hr />

<div class="text-center">
  <section class="row">
    <h2 class="visually-hidden">Posts</h2>
    <div class="col-12 mt-3">
      <div class="row">
        <!-- Loops through each post in the post_list -->
        {% for post in post_list %}
        <article class="col-md-3">
          <div class="card">
            <a href="{% url 'post_detail' post.slug %}" style="display: block">
              <div class="card-body">
                <div class="image-container">
                  <!-- Checks if the featured image has "placeholder" in it's url.  If so, the placeholder image is displayed, otherwise the featured image is displayed.
                   Images are transformed to WebP format and dynamically displayed. Use of srcset allows a browser to select the the best display size based on the device's viewport and use of the "truncatewords" filter set to 25 words to create an excerpt.  -->

                  {% if "placeholder" in post.featured_image.url %}
                  <!-- Initially used https://johnfraney.ca/tools/responsive-image-generator/ to create the code block that allows a browser to select the the best display size based on the device's viewport.  Resolution choices from: https://www.browserstack.com/guide/common-screen-resolutions/  -->
                  <img
                    src="https://res.cloudinary.com/cheymd/image/upload/v1724106996/just_cakes_images/default_image_rlpqek_y54ics.webp"
                    srcset="
                      https://res.cloudinary.com/cheymd/image/upload/v1724106996/just_cakes_images/default_image_rlpqek_y54ics.webp  360w,
                      https://res.cloudinary.com/cheymd/image/upload/v1724106996/just_cakes_images/default_image_rlpqek_y54ics.webp  390w,
                      https://res.cloudinary.com/cheymd/image/upload/v1724106996/just_cakes_images/default_image_rlpqek_y54ics.webp  393w,
                      https://res.cloudinary.com/cheymd/image/upload/v1724106996/just_cakes_images/default_image_rlpqek_y54ics.webp  768w,
                      https://res.cloudinary.com/cheymd/image/upload/v1724106996/just_cakes_images/default_image_rlpqek_y54ics.webp 1366w,
                      https://res.cloudinary.com/cheymd/image/upload/v1724106996/just_cakes_images/default_image_rlpqek_y54ics.webp 1536w,
                      https://res.cloudinary.com/cheymd/image/upload/v1724106996/just_cakes_images/default_image_rlpqek_y54ics.webp 1920w
                    "
                    sizes=" (max-width: 22.5rem) 360px,
                    (max-width: 24.375rem) 390px,
                    (max-width: 24.5625rem) 393px,
                    (min-width: 85.375rem) and (max-width: 85.375rem) 1366px,
                    (min-width: 96rem) and (max-width: 96rem) 1536px,
                    (min-width: 120rem) 1920px,
                    100vw"
                    alt="default image"
                    width="400"
                    height="400"
                    loading="lazy"
                  />
                  <!-- Otherwise, displays the featured image-->
                  {% else %}
                  <!-- srcset to for best display size according to device being used -->
                  <img
                    src="{{ post.featured_image.url|add:'?fm=webp&w=400' }}"
                    srcset="
                      {{ post.featured_image.url|add:'?fm=webp&w=360' }} 360w,
                      {{ post.featured_image.url|add:'?fm=webp&w=390' }} 390w,
                      {{ post.featured_image.url|add:'?fm=webp&w=393' }} 393w,
                      {{ post.featured_image.url|add:'?fm=webp&w=768' }} 768w,
                      {{ post.featured_image.url|add:'?fm=webp&w=1366' }} 1366w,
                      {{ post.featured_image.url|add:'?fm=webp&w=1536' }} 1536w,
                      {{ post.featured_image.url|add:'?fm=webp&w=1920' }} 1920w
                    "
                    sizes="
                    (max-width: 22.5rem) 360px,
                    (max-width: 24.375rem) 390px,
                    (max-width: 24.5625rem) 393px,
                    (min-width: 85.375rem) and (max-width: 85.375rem) 1366px,
                    (min-width: 96rem) and (max-width: 96rem) 1536px,
                    (min-width: 120rem) 1920px,
                    100vw"
                    alt="{{ post.title }}"
                    width="400"
                    height="400"
                    loading="lazy"
                  />
                  {% endif %}
                </div>

                <!-- Dynamically displays the post title, post author and a truncated excerpt -->
                <h2 class="post-title">{{ post.title }}</h2>
                <p class="post-author">Author: {{ post.author }}</p>
                <p>{{ post.content|truncatewords:25 }}</p>
                <!-- Displays post creation date and number of likes -->
                <p class="text-muted h6 text-nowrap">
                  {{ post.created_on }} <i class="far fa-heart"></i>
                  {{ post.number_of_likes }}
                </p>
              </div>
            </a>
          </div>
        </article>
        <!-- Starts a new row after every 4th item. -->
        {% if forloop.counter|divisibleby:4 and not forloop.last %}
      </div>
      <hr />
      <div class="row">{% endif %} {% endfor %}</div>
      <hr />
      <!-- Pagination controls -->
      {% if is_paginated %}
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          {% if page_obj.has_previous %}
          <!-- Button for page back -->
          <li>
            <a
              href="?page={{ page_obj.previous_page_number }}"
              class="page-link btn custom-button-color"
              >&laquo; PREV</a
            >
          </li>
          {% endif %} {% if page_obj.has_next %}
          <!-- Button for page forward -->
          <li>
            <a
              href="?page={{ page_obj.next_page_number }}"
              class="page-link btn custom-button-color"
              >NEXT &raquo;</a
            >
          </li>
          {% endif %}
        </ul>
      </nav>
      <!-- Displays a "Write a Review" button for authenticated users, when signed in -->
      {% endif %} {% if user.is_authenticated %}
      <div class="text-center my-4">
        <a href="{% url 'create_post' %}" class="btn custom-button-color"
          >Write a Review</a
        >
      </div>
      {% endif %}
    </div>
  </section>
</div>
{% endblock %}
