{% extends 'base.html' %} {% block content %}
<hr />
<div class="text-center">
  <section class="row justify-content-center">
    <h2 class="visually-hidden">Posts</h2>
    <div class="col-12 mt-3">
      <div class="row">
        {% for post in post_list %}
        <article class="col-md-4 mb-4 box-control">
          <div class="card mb-4">
            <a
              href="{% url 'post_detail' post.slug %}"
              class="card-link"
              style="display: block"
            >
              <div class="card-body">
                <div class="index-post-image-container">
                  {% if "placeholder" in post.featured_image.url %}
                  <img
                    src="https://res.cloudinary.com/cheymd/image/upload/w_300,c_scale,q_auto,f_auto/v1693482045/default_image_rlpqek.webp"
                    srcset="
                      https://res.cloudinary.com/cheymd/image/upload/w_200,c_scale,q_auto,f_auto/v1693482045/default_image_rlpqek.webp 200w,
                      https://res.cloudinary.com/cheymd/image/upload/w_300,c_scale,q_auto,f_auto/v1693482045/default_image_rlpqek.webp 300w,
                      https://res.cloudinary.com/cheymd/image/upload/w_400,c_scale,q_auto,f_auto/v1693482045/default_image_rlpqek.webp 400w
                    "
                    sizes="(max-width: 576px) 90vw, (max-width: 768px) 45vw, (min-width: 769px) 30vw"
                    alt="default image"
                    class="img-fluid"
                    width="300"
                    height="300"
                    loading="lazy"
                  />
                  {% else %}
                  <img
                    src="{{ post.featured_image.url|add:'?w=300&c_scale&q_auto&f_auto' }}"
                    srcset="
                      {{ post.featured_image.url|add:'?w=200&c_scale&q_auto&f_auto' }} 200w,
                      {{ post.featured_image.url|add:'?w=300&c_scale&q_auto&f_auto' }} 300w,
                      {{ post.featured_image.url|add:'?w=400&c_scale&q_auto&f_auto' }} 400w
                    "
                    sizes="(max-width: 576px) 90vw, (max-width: 768px) 45vw, (min-width: 769px) 30vw"
                    alt="{{ post.title }}"
                    class="img-fluid"
                    width="300"
                    height="300"
                    loading="lazy"
                  />
                  {% endif %}
                </div>
                <h2 class="post-title">{{ post.title }}</h2>
                <p class="post-author">Author: {{ post.author }}</p>
                <p>{{ post.content|truncatewords:25 }}</p>
                <p class="list-card-text text-muted h6">
                  {{ post.created_on }} <i class="far fa-heart"></i>
                  {{ post.number_of_likes }}
                </p>
              </div>
            </a>
          </div>
        </article>
        {% if forloop.counter|divisibleby:3 and not forloop.last %}
      </div>
      <div class="row">{% endif %} {% endfor %}</div>
      {% if is_paginated %}
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          {% if page_obj.has_previous %}
          <li>
            <a
              href="?page={{ page_obj.previous_page_number }}"
              class="page-link btn custom-button-color"
              >&laquo; PREV</a
            >
          </li>
          {% endif %} {% if page_obj.has_next %}
          <li>
            <a
              href="?page={{ page_obj.next_page_number }}"
              class="page-link btn custom-button-color"
              >NEXT &raquo;</a
            >
          </li>
          {% endif %}
        </ul>
      </nav>
      {% endif %} {% if user.is_authenticated %}
      <div class="text-center my-4">
        <a href="{% url 'create_post' %}" class="btn custom-button-color"
          >Write a Review</a
        >
      </div>
      {% endif %}
    </div>
  </section>
</div>
{% endblock %}
