{% extends "base.html" %}
<!-- Prevent line breaks in dynamic templating -->
{% load i18n %}
<!-- Prevent line breaks in dynamic templating -->
{% load account socialaccount %}
<!-- Prevent line breaks in dynamic templating -->
{% block head_title %}
<!-- Prevent line breaks in dynamic templating -->
{% trans "Sign In" %}
<!-- Prevent line breaks in dynamic templating -->
{% endblock %}
<!-- Prevent line breaks in dynamic templating -->
{% block content %}

<div class="custom-svg">
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
      <h3>{% trans "Sign In" %}</h3>
      <p>
        {% blocktrans %}Welcome back to Just Cakes. Please log in. If you
        haven't created an account yet, then
        <a class="link" href="{{ signup_url }}">sign up</a> first.
        <!-- Using comments to prevent line breaks in dynamic templating to ensure proper functionality -->
        {% endblocktrans %}
      </p>
    </div>
  </div>
  <div class="row input-labels">
    <div class="col-md-8 mt-3 offset-md-2">
      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %} {{ form.as_p }} {% if redirect_field_value %}
        <input
          type="hidden"
          name="{{ redirect_field_name }}"
          value="{{ redirect_field_value }}"
        />
        {% endif %}
        <button class="btn btn-signup right" type="submit">
          {% trans "Sign In" %}
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
