/* Header */
h1,
.navbar-text.text-muted h2 {
    font-family: 'Lobster', cursive;
    text-decoration: underline;
    color: #b0a15d;
    padding-right: 20px;
}



/* Footer */

footer {
    background-color: #b0a15d !important;
}