/* Global Styles */
body {
    background-image: url("/static/css/endless-clouds.svg");
    background-size: auto;
    background-position: top left;
    color: #444444;
}


h1 {
    color: #b0a15d;
    font-family: Lobster, cursive;
    font-size: 40px;
    text-decoration: underline;
    margin-left: 15px;
    margin-right: 15px;

}

h2,h3, h4, h5 {
    color: #b0a15d;
}

/* Header */
.navbar-text,
.custom-svg {
    font-family: 'Lobster', cursive;
    font-size: 20px;
    background-image: url("/static/css/endless-clouds.svg");
    background-position: top left;
}

.signed-in-as-tag {
    color: #b0a15d;
    padding: 8px;
}


.username {
    color: #444444;
    font-family: Roboto;
    font-weight: 600;
}

/* Main Body */
main, 
.custom-nav .container-fluid {
    margin: 0 auto;
    max-width: 1200px;
}

.carousel-top-margin {
    color: white;
    background-color: #b0a15d;
    padding: 10px;
}

.navbar-toggler-icon {
    background-color: #b0a15d;
}
.cake-type-headings {
    color: #b0a15d;
    margin-left: 15px;
    text-decoration: underline;
}

.nav-link {
    color: #b0a15d !important;
}

.review {
    font-family: 'Lobster', cursive;
    color: #b0a15d;
}

.mission-statement {
    font-family: 'Lobster', cursive;
    padding-left: 15px;
}

.image-container {
    border: 1px solid #b0a15d;
}

.author, .image-flash {
    background-color: #556B2F;
}

.image-flash {
    border: 2px solid #b0a15d;
}


.card-img-top {
    border: 2px solid #b0a15d;
}

a, p, .card-text {
    color: #444444;
    text-decoration: none;
}


hr {
    color: #444444;
}

.post-link:hover,
.page-link {
    color: #556B2F;
}

.input-labels {
    font-family: 'Roboto', sans-serif;
}

.custom-button-color {
    background-color: #b0a15d;
    border: 3px solid white;
}

.custom-submit-color {
    background-color: #b0a15d;
    border: 3px solid white;
    margin-top: 10px;
}

.img-fluid {
    border: 2px solid #b0a15d;
}

.plant-based-icon {
    color: rgb(44, 120, 44);
}

.gluten-free-icon {
    column-rule-color: #556B2F;
}



/* Footer */
footer {
    background-color: #b0a15d !important;
}
