<!-- Extends from the base.html -->
{% extends "base.html" %}

<!-- Start of the content block -->
{% block content %}
<hr />
<h2 class="mission-statement">At Just Cakes, Your Joy is Our Passion</h2>
<h4 class="cake-type-headings">Wedding Cakes</h4>

<div class="container">
  <div class="row">
    <!-- Wedding Cake Images Start Here -->
    <!-- Checks if there's any cakes to display. -->
    {% if cakes %}

    <!-- Iterates through each cake -->
    {% for cake in cakes %}
    <div class="col-md-3">
      <div class="card">
        <!-- Display the first image for each cake -->
        {% if cake.images.all %}
        <!-- Ensures that the image is served in WebP when it's supported by the browser -->
        <img
          src="{{ cake.images.all.0.image.url|add:'?format=webp' }}"
          class="card-img-top"
          alt="{{ cake.name }}"
        />

        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ cake.name }}</h5>
          <!-- If the description of the cakes is long, it's truncated down to 25 words with the
					use of "truncatewords" and the :25 -->

          <a href="{% url 'cake_detail' cake.id %}">
            <p class="card-text">{{ cake.description|truncatewords:25 }}</p>
          </a>
        </div>
      </div>
    </div>
    <!-- Closes the forloop that's iterating over each cake. -->
    {% endfor %}
    <!-- Using else to display "No cakes found" -->
    {% else %}
    <p>No cakes found.</p>
    <!-- Ending the if and else statements that checks for cakes -->
    {% endif %}
  </div>

  <hr />

  <h4 class="cake-type-headings">Birthdays</h4>
  <!-- Birthday Cake Images Start Here -->

  <hr />

  <h4 class="cake-type-headings">Novelty Cakes</h4>
  <!-- Novelty Cake Images Start Here -->
</div>
{% endblock %}
