{% extends "base.html" %} {% block content %}

<!-- This template uses bootstrap classes for it's styling and layout,  It's purpose is to dynamically display the image, name and details of an individual cake.  It fetches the relevant image from cloudinary.  When the correct image isn't available, it displays a default one that says "coming soon.

Images are requested in webp format and are displayed as such if they're available.  Otherwise they display in jpg. -->

<section class="container-flex">
	<hr />
	<div class="row">
		<article class="col-md-6 image-size">
			<!-- Checks if there's any cake images available -->
			{% if cake.images.all %}
			<!-- Check if the first image url is a placeholder -->
			{% if "placeholder" in cake.images.all.0.image.url %}
			<!-- Displays placeholder image -->
			<img
				src="https://res.cloudinary.com/cheymd/image/upload/v1710298157/default-image_yzftki.jpg"
				alt="Placeholder Image"
				class="img-fluid detail-image-size"
			/>
			{% else %}
			<!-- Displays the first image if available that's in webp -->
			<img
				src="{{ cake.images.all.0.image.url|add:'?format=webp' }}"
				alt="{{ cake.name }}"
				class="img-fluid detail-image-size"
			/>
			{% endif %} {% else %}
			<!-- Displays the default image -->
			<img
				src="https://res.cloudinary.com/cheymd/image/upload/v1710298157/default-image_yzftki.jpg"
				alt="Default Image"
				class="img-fluid detail-image-size"
			/>
			{% endif %}
		</article>
		<article class="col-md-6">
			<!-- Name, description and details for the individual cake -->
			<h2>{{ cake.name }}</h2>
			<p>Category: {{ cake.category.category }}</p>
			<p>{{ cake.description }}</p>
			<p>£{{ cake.price }}</p>
			<!-- This part of the code shows if the cake is plant based or gluten free.  It can be set in the admin panel and will display a font awesome icon indicating it's status. -->
			{% if cake.is_plant_based %}
			<p><i class="fas fa-seedling plant-based-icon"></i> Plant Based</p>
			{% endif %} {% if cake.is_gluten_free %}
			<p><i class="fas fa-check-circle gluten-free-icon"></i> Gluten Free</p>
			{% endif %}
			<!-- Button for back to the homepage (index.html) -->
			<a href="{% url 'index' %}" class="btn custom-button-color"
				>Back to Our Cakes</a
			>
		</article>
	</div>
</section>

{% endblock %}
