<!-- Extends from the base.html -->
{% extends "base.html" %}

<!-- Start of the content block -->
{% block content %}
<!-- Much of this layout is based around the post_detail in the walkthrough project surrounding django -->
<!-- Using dynamic  templating to display the individual cakes in detail. -->
<div class="container-fluid">
	<hr />
	<div class="row">
		<div class="col-md-6">
			<!-- Displays the image of the cake. Currently, there's only one image for each cake. But at a
        later date, more images are added, this will display the first image of that particular cake,
        by default. -->
			{% if cake.images.all %}
			<!-- Ensures that the image is served in WebP when it's supported by the browser -->
			<img
				src="{{ cake.images.all.0.image.url|add:'?format=webp' }}"
				alt="{{ cake.name }}"
				class="img-fluid"
			/>
			<!-- If there's no image available, the else statement's used is used to
      display "No image available" -->
			{% else %}
			<p>No image available</p>
			{% endif %}
		</div>
		<div class="col-md-6">
			<!-- Using dynamic templating to display the cake's name  -->
			<h2>{{ cake.name }}</h2>

			<!-- Using dynamic templating to display the cake's description -->
			<p>{{ cake.description }}</p>

			<!-- Using dynamic templating to display the cake's price -->
			<p>£{{ cake.price }}</p>

			<!-- Using dynamic templating to indicate if cake is plantbased  -->
			{% if cake.is_plant_based %}
			<p><i class="fas fa-seedling plant-based-icon"></i> Plant Based</p>

			<!-- Using dynamic templating to indicate if cake is gluten free  -->
			{% endif %} {% if cake.is_gluten_free %}
			<p><i class="fas fa-check-circle gluten-free-icon"></i> Gluten Free</p>

			{% endif %}

			<!-- Button to return to main page of cakes -->
			<a href="{% url 'cake_list' %}" class="btn custom-button-color">Back to Our Cakes</a>
		</div>
	</div>
</div>
{% endblock %}
