<!-- Much of this template has been copied and adapted from the "Hello Django" walkthrough project with 
 Code Institute. -->

<!-- Extends from the base.html template -->
{% extends "base.html" %}

<!-- Start of the content block -->
{% block content %}

<!-- Horizontal rule for visual separation of page layout -->
<hr />

<!-- For all cake types: Weddings, Birthdays, Novelties. Each cake type is checked to see if the type is present. If found, each individual cake of that type is looped through and dynamically displayed. If no cakes of that type are found a message that is specific to that cake types is displayed, saying that they're returning soon.. -->
<section>
  <!-- Wedding Cakes Section -->
  <article aria-labelledby="wedding-cakes">
    <h2 id="wedding-cakes">Wedding Cakes</h2>
    <div class="row">
      {% if wedding_cakes %} {% for cake in wedding_cakes %}
      <div class="col-md-3">
        <a href="{% url 'cake_detail' cake.id %}">
          <div class="card">
            <img
              src="{% if cake.images.all %}
                        {{ cake.images.all.0.image.url }}
                        {% else %}
                        https://res.cloudinary.com/cheymd/image/upload/v1721181874/coming-soon-default_c5vvlj.webp
                        {% endif %}"
              width="600"
              height="600"
              class="image-container"
              alt="{{ cake.name }}"
            />
            <h4>{{ cake.name }}</h4>
            <p class="card-text">{{ cake.description|truncatewords:25 }}</p>
          </div>
        </a>
      </div>
      {% endfor %} {% else %}
      <p>Wedding Cakes Returning Soon!</p>
      {% endif %}
    </div>
  </article>

  <!-- Birthday Cakes Section -->
  <article aria-labelledby="birthday-cakes">
    <h2 id="birthday-cakes">Birthday Cakes</h2>
    <div class="row">
      {% if birthday_cakes %} {% for cake in birthday_cakes %}
      <div class="col-md-3">
        <a href="{% url 'cake_detail' cake.id %}">
          <div class="card">
            <img
              src="{% if cake.images.all %}
                        {{ cake.images.all.0.image.url }}
                        {% else %}
                        https://res.cloudinary.com/cheymd/image/upload/v1721181874/coming-soon-default_c5vvlj.webp
                        {% endif %}"
              width="600"
              height="600"
              class="image-container"
              alt="{{ cake.name }}"
            />
            <h4>{{ cake.name }}</h4>
            <p class="card-text">{{ cake.description|truncatewords:25 }}</p>
          </div>
        </a>
      </div>
      {% endfor %} {% else %}
      <p>>Birthday Cakes Returning Soon!</p>
      {% endif %}
    </div>
  </article>

  <!-- Novelty Cakes Section -->
  <article aria-labelledby="novelty-cakes">
    <h2 id="novelty-cakes">Novelty Cakes</h2>
    <div class="row">
      {% if novelty_cakes %} {% for cake in novelty_cakes %}
      <div class="col-md-3">
        <a href="{% url 'cake_detail' cake.id %}">
          <div class="card">
            <img
              src="{% if cake.images.all %}
                        {{ cake.images.all.0.image.url }}
                        {% else %}
                        https://res.cloudinary.com/cheymd/image/upload/v1721181874/coming-soon-default_c5vvlj.webp
                        {% endif %}"
              width="600"
              height="600"
              class="image-container"
              alt="{{ cake.name }}"
            />
            <h4>{{ cake.name }}</h4>
            <p class="card-text">{{ cake.description|truncatewords:25 }}</p>
          </div>
        </a>
      </div>
      {% endfor %} {% else %}
      <p>>Novelty Cakes Returning Soon!</p>
      {% endif %}
    </div>
  </article>
</section>

<!-- End of content block -->
{% endblock %}
