<!-- Much of this template has been copied and adapted from the "Hello Django" walkthrough project with 
 Code Institute. -->

<!-- Extends from the base.html template -->
{% extends "base.html" %}

<!-- Start of the content block -->
{% block content %}

<!-- Horizontal rule for visual separation of page layout -->
<hr />

<!-- For all cake types: Weddings, Birthdays, Novelties. Each cake type is checked to see if the type is present. If found, each individual cake of that type is looped through, transformed to WebP format and dynamically displayed. Use of srcset allows a browser to select the the best display size based on the device's viewport and use of the "truncatewords" filter set to 25 words to create an excerpt.
If no cakes of that type are found a message that is specific to that cake types is displayed, saying that they're returning soon.. -->
<section aria-labelledby="section-heading">
  <!-- Add a heading with the same ID that you use in aria-labelledby -->
  <h2 id="section-heading" class="visually-hidden">Cake Types</h2>

  <!-- Wedding Cakes Section -->
  <article aria-labelledby="wedding-cakes">
    <h2 id="wedding-cakes">Wedding Cakes</h2>
    <div class="row">
      <!-- Checks for wedding cakes -->
      {% if wedding_cakes %}

      <!-- Loops through each wedding cake if any are available -->
      {% for cake in wedding_cakes %}
      <div class="col-md-3">
        <a href="{% url 'cake_detail' cake.id %}">
          <div class="card image-container">
            <!-- Displays the first cake image if available -->
            {% if cake.images.all %}
            <img
              src="{{ cake.images.all.0.image.url|add:'?fm=webp&w=400' }}"
              srcset="
                {{ cake.images.all.0.image.url|add:'?fm=webp&w=360' }} 360w,
                {{ cake.images.all.0.image.url|add:'?fm=webp&w=390' }} 390w,
                {{ cake.images.all.0.image.url|add:'?fm=webp&w=768' }} 768w,
                {{ cake.images.all.0.image.url|add:'?fm=webp&w=1366' }} 1366w,
                {{ cake.images.all.0.image.url|add:'?fm=webp&w=1536' }} 1536w,
                {{ cake.images.all.0.image.url|add:'?fm=webp&w=1920' }} 1920w
              "
              sizes="
                (max-width: 22.5rem) 360px,
                (max-width: 24.375rem) 390px,
                (max-width: 24.5625rem) 393px,
                (min-width: 85.375rem) and (max-width: 85.375rem) 1366px,
                (min-width: 96rem) and (max-width: 96rem) 1536px,
                (min-width: 120rem) 1920px,
                100vw
              "
              width="400"
              height="400"
              loading="lazy"
              alt="{{ cake.name }}"
            />

            <!-- Displays the default cake image if no wedding cakes are found  -->
            {% else %}
            <!-- srcset to for best display size according to device being used -->
            <img
              src="https://res.cloudinary.com/cheymd/image/upload/v1721181874/coming-soon-default_c5vvlj.webp"
              srcset="
                https://res.cloudinary.com/cheymd/image/upload/v1721181874/coming-soon-default_c5vvlj.webp  360w,
                https://res.cloudinary.com/cheymd/image/upload/v1721181874/coming-soon-default_c5vvlj.webp  390w,
                https://res.cloudinary.com/cheymd/image/upload/v1721181874/coming-soon-default_c5vvlj.webp  393w,
                https://res.cloudinary.com/cheymd/image/upload/v1721181874/coming-soon-default_c5vvlj.webp  768w,
                https://res.cloudinary.com/cheymd/image/upload/v1721181874/coming-soon-default_c5vvlj.webp 1366w,
                https://res.cloudinary.com/cheymd/image/upload/v1721181874/coming-soon-default_c5vvlj.webp 1536w,
                https://res.cloudinary.com/cheymd/image/upload/v1721181874/coming-soon-default_c5vvlj.webp 1920w
              "
              sizes="
              (max-width: 22.5rem) 360px,
              (max-width: 24.375rem) 390px,
              (max-width: 24.5625rem) 393px,
              (min-width: 85.375rem) and (max-width: 85.375rem) 1366px,
              (min-width: 96rem) and (max-width: 96rem) 1536px,
              (min-width: 120rem) 1920px,
              100vw"
              width="400"
              height="400"
              loading="lazy"
              alt="{{ cake.name }}"
            />
            {% endif %}
            <!-- Displays the cake name and a truncated description -->
            <h4>{{ cake.name }}</h4>
            <p class="card-text">{{ cake.description|truncatewords:25 }}</p>
          </div>
        </a>
      </div>
      {% endfor %} {% else %}
      <!-- Display a message if no wedding cakes are available -->
      <p>Wedding Cakes Returning Soon!</p>
      {% endif %}
    </div>
  </article>

  <!-- Birthday Cakes Section -->
  <article aria-labelledby="birthday-cakes">
    <h2 id="birthday-cakes">Birthday Cakes</h2>
    <div class="row">
      <!-- Checks for birthday cakes -->
      {% if birthday_cakes %}

      <!-- Loops through each birthday cake if any are available -->
      {% for cake in birthday_cakes %}
      <div class="col-md-3">
        <a href="{% url 'cake_detail' cake.id %}">
          <div class="card image-container">
            <!-- Displays the first cake image if available -->
            {% if cake.images.all %}
            <img
              src="{{ cake.images.all.0.image.url|add:'?fm=webp&w=400' }}"
              srcset="
                {{ cake.images.all.0.image.url|add:'?fm=webp&w=360' }} 360w,
                {{ cake.images.all.0.image.url|add:'?fm=webp&w=390' }} 390w,
                {{ cake.images.all.0.image.url|add:'?fm=webp&w=768' }} 768w,
                {{ cake.images.all.0.image.url|add:'?fm=webp&w=1366' }} 1366w,
                {{ cake.images.all.0.image.url|add:'?fm=webp&w=1536' }} 1536w,
                {{ cake.images.all.0.image.url|add:'?fm=webp&w=1920' }} 1920w
              "
              sizes="
                (max-width: 22.5rem) 360px,
                (max-width: 24.375rem) 390px,
                (max-width: 24.5625rem) 393px,
                (min-width: 85.375rem) and (max-width: 85.375rem) 1366px,
                (min-width: 96rem) and (max-width: 96rem) 1536px,
                (min-width: 120rem) 1920px,
                100vw
              "
              width="400"
              height="400"
              loading="lazy"
              alt="{{ cake.name }}"
            />

            <!-- Displays the default cake image if no birthday cakes are found  -->
            {% else %}
            <!-- srcset to for best display size according to device being used -->
            <img
              src="https://res.cloudinary.com/cheymd/image/upload/v1721181874/coming-soon-default_c5vvlj.webp"
              srcset="
                https://res.cloudinary.com/cheymd/image/upload/v1721181874/coming-soon-default_c5vvlj.webp  360w,
                https://res.cloudinary.com/cheymd/image/upload/v1721181874/coming-soon-default_c5vvlj.webp  390w,
                https://res.cloudinary.com/cheymd/image/upload/v1721181874/coming-soon-default_c5vvlj.webp  393w,
                https://res.cloudinary.com/cheymd/image/upload/v1721181874/coming-soon-default_c5vvlj.webp  768w,
                https://res.cloudinary.com/cheymd/image/upload/v1721181874/coming-soon-default_c5vvlj.webp 1366w,
                https://res.cloudinary.com/cheymd/image/upload/v1721181874/coming-soon-default_c5vvlj.webp 1536w,
                https://res.cloudinary.com/cheymd/image/upload/v1721181874/coming-soon-default_c5vvlj.webp 1920w
              "
              sizes="
            (max-width: 22.5rem) 360px,
            (max-width: 24.375rem) 390px,
            (max-width: 24.5625rem) 393px,
            (min-width: 85.375rem) and (max-width: 85.375rem) 1366px,
            (min-width: 96rem) and (max-width: 96rem) 1536px,
            (min-width: 120rem) 1920px,
            100vw"
              width="400"
              height="400"
              loading="lazy"
              alt="{{ cake.name }}"
            />
            {% endif %}
            <!-- Displays the cake name and a truncated description -->
            <h4>{{ cake.name }}</h4>
            <p class="card-text">{{ cake.description|truncatewords:25 }}</p>
          </div>
        </a>
      </div>
      {% endfor %} {% else %}
      <!-- Display a message if no birthday cakes are available -->
      <p>Birthday Cakes Returning Soon!</p>
      {% endif %}
    </div>
  </article>

  <!-- Novelty Cakes Section -->
  <article aria-labelledby="novelty-cakes">
    <h2 id="novelty-cakes">Novelty Cakes</h2>
    <div class="row">
      <!-- Checks for novelty cakes -->
      {% if novelty_cakes %}

      <!-- Loops through each novelty cake if any are available -->
      {% for cake in novelty_cakes %}
      <div class="col-md-3">
        <a href="{% url 'cake_detail' cake.id %}">
          <div class="card image-container">
            <!-- Displays the first cake image if available -->
            {% if cake.images.all %}
            <img
              src="{{ cake.images.all.0.image.url|add:'?fm=webp&w=400' }}"
              srcset="
                {{ cake.images.all.0.image.url|add:'?fm=webp&w=360' }} 360w,
                {{ cake.images.all.0.image.url|add:'?fm=webp&w=390' }} 390w,
                {{ cake.images.all.0.image.url|add:'?fm=webp&w=768' }} 768w,
                {{ cake.images.all.0.image.url|add:'?fm=webp&w=1366' }} 1366w,
                {{ cake.images.all.0.image.url|add:'?fm=webp&w=1536' }} 1536w,
                {{ cake.images.all.0.image.url|add:'?fm=webp&w=1920' }} 1920w
              "
              sizes="
                (max-width: 22.5rem) 360px,
                (max-width: 24.375rem) 390px,
                (max-width: 24.5625rem) 393px,
                (min-width: 85.375rem) and (max-width: 85.375rem) 1366px,
                (min-width: 96rem) and (max-width: 96rem) 1536px,
                (min-width: 120rem) 1920px,
                100vw
              "
              width="400"
              height="400"
              loading="lazy"
              alt="{{ cake.name }}"
            />

            <!-- Displays the default cake image if no novelty cakes are found  -->
            {% else %}
            <!-- srcset to for best display size according to device being used -->
            <img
              src="https://res.cloudinary.com/cheymd/image/upload/v1721181874/coming-soon-default_c5vvlj.webp"
              srcset="
                https://res.cloudinary.com/cheymd/image/upload/v1721181874/coming-soon-default_c5vvlj.webp  360w,
                https://res.cloudinary.com/cheymd/image/upload/v1721181874/coming-soon-default_c5vvlj.webp  390w,
                https://res.cloudinary.com/cheymd/image/upload/v1721181874/coming-soon-default_c5vvlj.webp  393w,
                https://res.cloudinary.com/cheymd/image/upload/v1721181874/coming-soon-default_c5vvlj.webp  768w,
                https://res.cloudinary.com/cheymd/image/upload/v1721181874/coming-soon-default_c5vvlj.webp 1366w,
                https://res.cloudinary.com/cheymd/image/upload/v1721181874/coming-soon-default_c5vvlj.webp 1536w,
                https://res.cloudinary.com/cheymd/image/upload/v1721181874/coming-soon-default_c5vvlj.webp 1920w
              "
              sizes="
              (max-width: 22.5rem) 360px,
              (max-width: 24.375rem) 390px,
              (max-width: 24.5625rem) 393px,
              (min-width: 85.375rem) and (max-width: 85.375rem) 1366px,
              (min-width: 96rem) and (max-width: 96rem) 1536px,
              (min-width: 120rem) 1920px,
              100vw"
              width="400"
              height="400"
              loading="lazy"
              alt="{{ cake.name }}"
            />
            {% endif %}
            <!-- Displays the cake name and a truncated description -->
            <h4>{{ cake.name }}</h4>
            <p class="card-text">{{ cake.description|truncatewords:25 }}</p>
          </div>
        </a>
      </div>
      {% endfor %} {% else %}
      <!-- Display a message if no novelty cakes are available -->
      <p>Novelty Cakes Returning Soon!</p>
      {% endif %}
    </div>
  </article>
</section>

<!-- End of content block -->
{% endblock %}
