{% load static %}

<!DOCTYPE html>
<html lang="en" class="h-100">
	<head>
		<meta charset="UTF-8">

		<link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
		<title>Just Cakes</title>

		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link
			href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Lobster&family=Roboto:wght@300;400&display=swap"
			rel="stylesheet"
		>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
		>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
			crossorigin="anonymous"
		>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
			crossorigin="anonymous"
		></script>

		<!-- CSS and Custom CSS which will over ride the normal style -->
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
		<link rel="stylesheet" href="{% static 'css/custom.css' %}">
	</head>

	<!-- Body section of page -->

	<body class="d-flex flex-column h-100">
		<!-- Carousel component sourced from Bootstrap
      (https://getbootstrap.com/docs/5.0/components/carousel/) -->
		<div
			id="carouselExampleSlidesOnly"
			class="carousel slide carousel-top-margin"
			data-bs-ride="carousel"
		>
			<div class="carousel-inner">
				<div class="carousel-item active carousel-bg-color">
					<div
						class="d-flex justify-content-center align-items-center"
						style="height: 100%"
					>
						<b>Spend over £95 for free delivery</b>
					</div>
				</div>
				<div class="carousel-item">
					<div
						class="d-flex justify-content-center align-items-center"
						style="height: 100%"
					>
						<i class="fas fa-shuttle-van fa-flip-horizontal"></i>&nbsp;&nbsp;
						<b>Click & Collect Available</b>
					</div>
				</div>
				<div class="carousel-item">
					<div
						class="d-flex justify-content-center align-items-center"
						style="height: 100%"
					>
						<b>We are - "Just Cakes" - Call Us on: 0800-1234567</b>
					</div>
				</div>
			</div>
		</div>

		<!-- Navigation -->
		<nav
			class="navbar navbar-expand-lg navbar-light bg-white custom-svg custom-nav"
		>
			<div class="container-fluid">
				<!-- Menu button for mobile view -->
				<button
					class="navbar-toggler"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#navbarText"
					aria-controls="navbarText"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<span class="navbar-toggler-icon"></span>
				</button>
				<h1 class="logo">Just Cakes</h1>
				<!-- Links in navbar -->
				<div class="collapse navbar-collapse" id="navbarText">
					<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
						<!-- Admin login -->
						<li class="nav-item">
							<a
								class="nav-link active"
								aria-current="page"
								href="{% url 'admin:index' %}"
								>Admin</a
							>
						</li>
						<!-- Static Nav Items -->
						<li class="nav-item">
							<a
								class="nav-link active"
								aria-current="page"
								href="{% url 'index' %}"
								>Home</a
							>
						</li>

						<!-- Generates a link to customer reviews -->
						<li class="nav-item">
							<a class="nav-link" href="{% url 'post_list' %}">Reviews</a>
						</li>
						<!-- Dynamic Nav Items. The display depends on whether a user is logged in or not. -->
						{% if user.is_authenticated %}
						<li class="nav-item">
							<span class="nav-link"
								>You are signed-in as:&nbsp;<span class="username"
									>{{ user.username }}</span
								></span
							>
						</li>
						<li class="nav-item">
							<a
								href="{% url 'customer_account_detail' pk=user.customeraccount.pk %}"
								target="_blank"
								class="nav-link"
								>My Account</a
							>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'account_logout' %}"
								>Sign Out</a
							>
						</li>
						{% else %}
						<li class="nav-item">
							<a class="nav-link" href="{% url 'account_login' %}">Sign In</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'account_signup' %}">Sign Up</a>
						</li>
						{% endif %}
					</ul>
				</div>
				<!-- <h1 class="logo">Just Cakes</h1> -->
			</div>
		</nav>

		<!-- successful sign-in / sign-out message -->
		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2">
					{% for message in messages %}
					<div
						class="alert {{ message.tags }} alert-dismissible fade show"
						id="msg"
						role="alert"
					>
						{{ message | safe }}
						<button
							type="button"
							class="btn-close custom-button-color"
							data-bs-dismiss="alert"
							aria-label="Close"
						></button>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<!-- Main Content Section -->
		<main class="flex-shrink-0">
			{% block content %}
			<!-- Other templates are rendered here. -->
			{% endblock content %}
		</main>

		<footer class="footer mt-auto py-3 dark-bg">
    <p class="m-0 text-center text-white">
        Follow us:
        <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">
            <span class="sr-only">Facebook</span>
            <i class="fab fa-facebook-square ms-3 text-white" aria-hidden="true"></i>
        </a>
        <a href="https://twitter.com/" target="_blank" rel="noopener noreferrer">
            <span class="sr-only">Twitter</span>
            <i class="fab fa-twitter-square ms-3 text-white" aria-hidden="true"></i>
        </a>
        <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
            <span class="sr-only">Instagram</span>
            <i class="fab fa-instagram-square ms-3 text-white" aria-hidden="true"></i>
        </a>
        <a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer">
            <span class="sr-only">YouTube</span>
            <i class="fab fa-youtube-square ms-3 text-white" aria-hidden="true"></i>
        </a>
        <a href="{% url 'contact_us' %}" class="contact-form-link">Contact Us</a>
    </p>
</footer>

	
		<script>
			setTimeout(function () {
				let messages = document.getElementById('msg');
				let alert = new bootstrap.Alert(messages);
				alert.close();
			}, 2500);
		</script>
	</body>
</html>
