<!-- Extends from the base.html -->
{% extends "base.html" %}

<!-- Switching back to Crispy  -->
{% load crispy_forms_tags %}

<!-- Start of the content block -->
{% block content %}
<div class="flex-container">
	<hr />

	<h2>Sign Up</h2>

	<!-- Form uses the POST method to securely send form data to the server for processing. -->
	<form method="post" enctype="multipart/form-data" class="my-form">
		<!-- Including the 'enctype' attribute specifies how the form data should be encoded before 
      being sent to the server, allowing file uploads. -->

		<!-- CSRF token is included to protect against Cross Site Request Forgery attacks.
      It ensures that the submitted form is the same one that was rendered by the server, preventing
      unauthorized submissions. -->
		{% csrf_token %}

		<!-- Applying Bootstrap styling to the form for consistent appearance across the application. -->
		{{ form|crispy }}
		<button type="submit" class="btn custom-submit-color" value="Submit Post">Sign Up</button>
	</form>
</div>

	{% endblock content %}
</div>
