{% extends 'base.html' %} {% block content %}

<!-- Purpose of this template is to display user's/customer's profile.  It also provides them with buttons to update it, delete it or to return to the homepage. -->

<div class="container-fluid">
	<div class="row">
		<article class="col-md-12">
			<div class="card">
				<header class="card-header">
					<h4>Customer Profile Details</h4>
				</header>
				<div class="card-body">
					<!-- Checks if account exists and displays the details -->
					{% if account %}
					<p class="card-text">
						<strong>User Name:</strong> {{ account.user.username }}<br />
						<strong>Name:</strong>
						<span class="capitalised-username">
							{{ account.first_name }} {{ account.last_name }}
						</span>
						<br />
						<strong>Phone:</strong> {{ account.phone }}<br />
						<strong>Address Line 1:</strong> {{ account.address_line_1 }}<br />
						<strong>Address Line 2:</strong> {{ account.address_line_2 }}<br />
						<strong>City:</strong> {{ account.city }}<br />
						<strong>County:</strong> {{ account.county }}<br />
						<strong>Post Code:</strong> {{ account.post_code }}<br />
						<strong>Registration Date:</strong> {{ account.registration_date }}
					</p>
					{% else %}
					<!-- Although user accounts are created when a user registers.  But if there's no user account associated with the user name then it says so -->
					<p class="card-text">
						Customer Account does not exist for the logged-in user.
					</p>
					{% endif %}
				</div>

				<!-- Buttons for navigating back, updating account details, or requesting their account deletion. -->
				<footer class="text-muted">
					<a href="{% url 'index' %}" class="btn custom-button-color"
						>Back to Home</a
					>
					<a
						href="{% url 'customer_accounts:update_customer_account' pk=account.pk %}"
						class="btn custom-button-color"
						>Update Account</a
					>
					<a
						href="{% url 'customer_accounts:confirm_delete_customer_account' pk=account.pk %}"
						class="btn btn-danger"
						>Delete Account</a
					>
				</footer>
			</div>
		</article>
	</div>
</div>
{% endblock %}
