{% extends 'base.html' %} {% block content %}
<!-- Inside customer_accounts_detail.html -->

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<!-- Added class to specify column width -->
			<div class="card">
				<div class="card-header">
					<h4>Customer Profile Details</h4>
				</div>
				<div class="card-body">
					<!-- Block to check if a customer account exists.  If it does, this block of details display
            If they don't exist, then it jumps straight to the "else" and says that the account doesn't -->
					{% if account %}
					<!-- changed the entries -->
					<p class="card-text">
						<strong>User Name:</strong>
						{{ account.user.username }}<br />
						<strong>Name:</strong>
						{{ account.first_name }} {{ account.last_name }} <br />
						<strong>Phone:</strong> {{ account.phone }}<br />
						<strong>Address Line 1:</strong> {{ account.address_line_1 }}<br />
						<strong>Address Line 2:</strong> {{ account.address_line_2 }}<br />
						<strong>City:</strong> {{ account.city }}<br />
						<strong>County:</strong> {{ account.county }}<br />
						<strong>Post Code:</strong> {{ account.post_code }}<br />
						<strong>Registration Date:</strong> {{ account.registration_date }}
					</p>

					<!-- Executed if the customer accounts doesn't exist -->
					{% else %}

					<!-- Displays to the user that the customer account doesn't exist -->
					<p class="card-text">
						Customer Account does not exist for the logged-in user.
					</p>

					<!-- End of the if block -->
					{% endif %}
				</div>
				<div class="card-footer text-muted">
					<!-- Button to go back to the homepage -->

					<a href="{% url 'index' %}" class="btn custom-button-color"
						>Back to Home
					</a>
					<!-- Button to update profile page -->
					<a
						href="{% url 'update_customer_profile' pk=request.user.pk %}"
						class="btn custom-button-color"
						>Update My Profile
					</a>
					<!-- Button to delete account -->
					<a
						href="{% url 'delete_customer_profile' pk=account.pk %}"
						class="btn custom-button-color"
						>Delete my account</a
					>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
