{% extends 'base.html' %} {% block content %}
<!-- Inside customer_accounts_detail.html -->

<div class="container-fluid">
	<div class="row">
		<div>
			<div class="card">
				<div class="card-header">
					<h4>Customer Account Details</h4>
				</div>
				<div class="card-body">
					<!-- Block to check if a customer account exists.  If it does, this block of details display
            If they don't exist, then it jumps straight to the "else" and says that the account doesn't -->
					{% if account %}
					<!-- changed the entries -->
					<p class="card-text">
						<strong>User Name:</strong>
						{{ account.user.username }}<br />
						<strong>Name:</strong>
						{{ account.first_name }} {{ account.last_name }} <br />
						<strong>Phone:</strong> {{ account.phone }}<br />
						<strong>Address Line 1:</strong> {{ account.address_line_1 }}<br />
						<strong>Address Line 2:</strong> {{ account.address_line_2 }}<br />
						<strong>City:</strong> {{ account.city }}<br />
						<strong>County:</strong> {{ account.county }}<br />
						<strong>Post Code:</strong> {{ account.post_code }}<br />
						<strong>Registration Date:</strong> {{ account.registration_date }}
					</p>

					<!-- Executed if the customer accounts doesn't exist -->
					{% else %}

					<!-- Displays to the user that the customer account doesn't exist -->
					<p class="card-text">
						Customer Account does not exist for the logged-in user.
					</p>

					<!-- End of the if block -->
					{% endif %}
				</div>
				<div class="card-footer text-muted">
					<a href="#" class="btn btn-primary">Go Back</a
					>&nbsp;&nbsp;&nbsp;&nbsp;
					<button type="button" class="btn btn-warning">
						Update My Profile</button
					>&nbsp;&nbsp;&nbsp;&nbsp;
					<button type="button" class="btn btn-danger">
						Delete My Profile
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
