{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<!-- Purpose is to update details on a profile, using Crispy Forms and CSRF token for security on submissions -->

<main class="container-fluid">
    <hr />
    <section class="row">
        <article class="col-12">
            <h2>Profile Update Form</h2>
            <!-- Provides a clear title for the form's purpose -->
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
								<!-- Using CSRF token to guard against Cross Site Forgery attacks -->
                {{ form|crispy }}
                <!-- Renders the form fields with crispy forms -->
                <button type="submit" class="btn btn-primary">Update</button>
                <!-- Button to submit the form and update profile information -->
            </form>
        </article>
    </section>
</main>
{% endblock %}
